<template>
  <div>
    <form @submit.prevent="submitData">
      <div>
        <label for="name">Full name</label>
        <input type="text" v-model="enteredName" />
      </div>
      <div>
        <label for="phone">Phone</label>
        <input type="text" v-model="enteredPhone" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" v-model="enteredEmail" />
      </div>
      <div>
        <button>Add Contact</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      enteredName: '',
      enteredPhone: '',
      enteredEmail: '',
    };
  },
  emits: ['add-contact'],
  methods: {
    submitData() {
      this.$emit(
        'add-contact',
        this.enteredName,
        this.enteredPhone,
        this.enteredEmail
      );
    },
  },
};
</script>
